# Node modules (only if they are not required for your build)
node_modules/

# Build and output directories
.expo/
.expo-shared/
build/
android/app/build/
ios/build/
ios/Pods/
.gradle/

# Environment files (if they are not needed in the build)
.env
.env.local
.env.development
.env.production

# Logs and caches
npm-debug.log
yarn-error.log
.DS_Store
.vscode/
.idea/
